# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular data science programming language.
- List commomly used data science libraries.
- List commonly used data science development environment.
- How to evaluate simple arithmetic expression in python.
- Example of a python function.
- How to use mardkdown and code cells inside Jupyter Notebook? 
- How to upload a Jupiter Notebook to GitHub?

<u> Some of the popular languages that Data Scientists use are: </u>

1. Python
2. R
3. SQL 
4. Scala
5. Java
6. C++
7. julia

<u> Some of the commonly used libraries used by Data Scientists include: </u>

1. NumPy
2. Pandas
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. Keras
7. TensorFLow
8. PyTorch
9. Apache Spark

<u> Data Science Tools table : </u>

| Data Science Tools |
|:--------|
|  Jupyter Notebooks   |
|  JupyterLite   |
|  Google colab
|  Visual Studio Code|
| Rstudio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
a = 1+1
b = 3*4
c = 2**2
d = 4/2

result = a+b+c+d
print(result)

20.0

In [8]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
# python function that take a time in minute as argument and return a time in hour as a result

def convert_min_to_hour(time_in_min):
    time_in_hour = time_in_min / 60
    return time_in_hour

# This will convert 200 minutes to hours by diving by 60

convert_min_to_hour(200)

3.3333333333333335

## Author :
Nicolas Lamour